#app-container {
  max-width: 30rem;
  margin: 3rem auto;
}

#todo-form {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

#todos ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#todos li {
  /*margin: 1rem 0;*/
  /*background: #492365;*/
  /*color: white;*/
  /*padding: 1rem;*/
  /*cursor: pointer;*/
  /*border-radius: 4px;*/
  /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);*/
}